/**
 * Created by vincent on 14-4-28.
 */
*{margin:0;padding:0}
ol,ul{list-style:none}
.clearfix:after {content: "."; display: block;height: 0;clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
#header{
    height: 35px;
    background: #f7f7f7;
    border-bottom: #eee 1px solid;
    line-height: 35px;
    font-size: 12px;
    color: #666;
}
.main-head-info{
    width: 1008px;
    margin: 0 auto;
}
.main-head-info a{
    text-decoration: none;
    color: #666;
	display:block;
	float:left;
}
.main-head-info ul{ width:300px;}
.main-head-info a:hover{
    text-decoration: underline;
}
.main-head-info span{
    margin-right: 5px;
}
.main-head-info .bindex{
    float: left;
    padding-left: 15px;
    background: url("../images_2.5/bg_sc.png") 0 12px no-repeat;
}
.main-head-info ul{
    float: right;
}
.main-head-info ul li{
    float: left;
    margin-right: 5px;
}
.main-head-info ul li.bR{
    color: #ddd;
}
.footer-info{
    width: 1008px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}
.footer-info ul{
    margin:20px 0 10px 350px;
}
.footer-info li{
    float: left;
    font-size: 14px;
    line-height: 35px;
    margin-right: 10px;
}
.footer-info li a{
    color:#CCC;
    text-decoration: none;
}
.footer-info li a:hover{
    text-decoration: underline;
}
.footer-info p{
    font-size: 12px;
    line-height: 22px;
    color:#CCC;
}
#content{
    background:#de911b url('../images_2.5/llkbg3.fw.png') center top repeat;
}

#content .main-head{ background:url(../images_2.5/llkbg2.fw.png) top center no-repeat;}
.main{
    width: 1008px;
    height: 850px;
    margin: 0 auto;
	background:url(../images_2.5/llkbg1.fw.png) no-repeat;
	background-position:center 30px;
    padding-top: 60px;
    position: relative;
}
.main #tbox{ width:606px;height:550px; margin:0 auto; margin-top:160px; position:relative; z-index:1000;}
.main #tab{top:0px; left:0px;position:relative; z-index:999;}
.main #tbox .zz{width:551px;height:560px; position:absolute;top:0px; left:0px;z-index:1000; background:url(../images_2.5/ballbg.fw.png) no-repeat;}
.main .boxcont{ width:617px; height:43px; margin:0 auto; margin-top:5px; position:relative;}
.main #box{ width:481px; height:43px; background:url(../images_2.5/llkbg4.fw.png) no-repeat left center; line-height:43px; text-align:center;font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:rgb(255,255,255);
-webkit-text-stroke:1px rgb(5,76,95); margin-left:65px; position:absolute; z-index:2;}
.main #box2{ width:481px; height:43px; background:url(../images_2.5/llkbg4-2.fw.png) no-repeat left center; position:absolute; left:67px; top:0px; z-index:1;}
.main #box3{width:481px; height:43px; line-height:43px; text-align:center;font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:rgb(255,255,255);
-webkit-text-stroke:1px rgb(5,76,95); margin-left:65px; position:absolute; z-index:2;}
#timebar{ width:121px; height:49px; background:url(../images_2.5/llkbg5.fw.png) top right no-repeat; position:absolute; left:420px; top:0px; z-index:2}
.main #tbox td{ background:url(../images_2.5/llkbg6.fw.png) no-repeat; width:55px; height:55px; text-align:center;}
.main #tbox td.bounce{background:url(../images_2.5/llk/llkzz.png) no-repeat; background-position:-1px -1px;}
.main #tbox td img{  }
.main #tbox td img:hover{ cursor:pointer;}
.main #tbox td img.clicked{}
.main  #menu{ width:708px; height:48px; margin:0 auto; color:#FFF;}
.main  #menu li{ float:left;}
.main  #menu #numli{ font-size:24px; font-family:"微软雅黑";}
.main #btstart{ width:171px; height:54px; background:url(../images_2.5/llk/p2.png) no-repeat center center; display:inline-block; margin-left: 156px; cursor:pointer;}
.main #btstart:hover{background:url(../images_2.5/llk/p1.png) no-repeat center center;}
#content .zhongjiang{ width:960px; margin:0 auto; background:#000;filter:alpha(opacity=40); opacity:.4}
#content .zhongjiang ins{ float:left; width:60px; height:35px;background: none repeat scroll 0% 0% #FFF;color: #ffffff;font-size: 12px;font-weight: bold;line-height: 35px; text-indent:5px; text-decoration:none; background:url(../images_2.5/p1.png) 26px center no-repeat;}
#content .marquee{  float:left; width:900px; margin:0 auto; margin-top:0px;line-height: 35px;;color: #ffffff;font-size: 12px;font-weight: bold;display: block;}
.marquee span {
    margin-right: 10px;
}
.marquee em {
    color: #ffffff;
    font-style: normal;
    padding-left: 2px;
}

.jigsaw-rule {
   
	width:969px;
	margin:0 auto;
    height: 145px;
    background: url('../images_2.5/newIndex/bg_jigsaw02.png') no-repeat scroll 0px 0px transparent;
    padding-top: 60px;
    padding-left: 20px;
	margin-top:15px;
}

.rank {
    width: 979px;
    height: 272px;
    margin-top: 10px;
    background: url('../images_2.5/bg_rank.png') no-repeat scroll 0px 0px transparent;
	margin:0 auto;
}
.rank-info {
    float: left;
    position: relative;
    width: 160px;
    margin-top: 42px;
    margin-left: 30px;
}
.rank-info h3 {
    width: 137px;
    height: 27px;
    background: url('../images_2.5/bg_zf.png') no-repeat scroll 0px 0px transparent;
    font-size: 16px;
    font-family: "arial";
    color: #E8690B;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 4;
    padding-top: 6px;
}
.rank-info h3 em {
    padding: 8px 60px 0px 8px;
    display: inline-block;
    font-size: 12px;
    color: #925A0B;
    vertical-align: top;
}
.rank-info .user-zz {
    width: 160px;
    height: 156px;
    display: block;
    position: absolute;
    z-index: 2;
    top: 33px;
    left: 0px;
    background: url('../images_2.5/yx_zz01.png') no-repeat scroll 0px 0px transparent;
	z-index:2;
}
.rank-info .user-zz02 {
    top: 46px;
    left: 16px;
    background: url('../images_2.5/yx_zz02.png') no-repeat scroll 0px 0px transparent;
}
.rank-info .user-ch {
    width: 84px;
    height: 22px;
    position: absolute;
    z-index: 3;
    top: 142px;
    left: 36px;
}
.user-name {
    height: 26px;
    padding-left: 5px;
    background: url('../images_2.5/bg_nL.png') no-repeat scroll 0px 0px transparent;
    position: absolute;
    top: 176px;
    left: 30px;
    z-index: 4;
}
.user-name span {
    float: left;
    line-height: 26px;
    color: #91340A;
    font-size: 14px;
    background: url('../images_2.5/bg_nM.png') repeat-x scroll 0px 0px transparent;
}
.user-name label {
    float: left;
    width: 6px;
    height: 26px;
    background: url('../images_2.5/bg_nR.png') no-repeat scroll 0px 0px transparent;
}
.rank-info .user-img {
    margin-left: 36px;
    margin-top: 72px;
    width: 83px;
    height: 83px;
}
#popup_title{ display:none;}
.popup_container{ background:none !important;} 
.game,.gameconfirm{ width:521px; height:233px; background:url(../images_2.5/tips1.png) !important; background-repeat:no-repeat;}
.game #popup_message .sucess{ font-family:"微软雅黑"; font-size:36px; padding-top:64px; text-align:center; color:#6c2401;} 
.gameconfirm #popup_message .tishi{ font-family:"微软雅黑"; font-size:28px; padding-top:64px; text-align:center; color:#6c2401; min-height:94px;}
.game #popup_ok{ background:url(../images_2.5/button.png) !important; width:142px; height:45px; font-size:24px; text-align:center; color:#FFF;}
.gameconfirm #popup_ok,.gameconfirm #popup_cancel{ background:url(../images_2.5/button.png) !important; width:142px; height:45px; font-size:18px; text-align:center; color:#FFF;}

.share{width:521px; height:233px; background:url(../images_2.5/tips1.png) !important; background-repeat:no-repeat;}
.{ background:none;} 
.gy-dialog{ background:none; width:auto;}
.gy-dialog .title2{ width:auto};
.gy-dialog .title2 a.closetips{ margin-top:0px !important;}
.gy-dialog .title2 span{ width:490px; color:#6c2401;}
.share .body3{ height:auto;}
.share .body3 .sucess{font-family:"微软雅黑"; font-size:28px; padding-top:14px; text-align:center; color:#6c2401;}
.share #popup_ok{background:url(../images_2.5/button.png) !important; width:142px; height:45px; font-size:18px; text-align:center; color:#FFF;}
.gy-dialog .title2{ border-bottom:none;}
.gy-dialog .share2{ width:400px; height:30px; margin:0 auto; margin-top:5px;}
.gy-dialog .share2 span{ float:left;}
.gy-dialog .share2 a{ margin-left:3px;}
.gy-dialog  .share2 .qq{ width:35px; height:35px; display:block; float:left; }
.gy-dialog .share2 .weibo{width:35px; height:35px; display:block; float:left;}
.gy-dialog  .share2 .qq2{ width:35px; height:35px; display:block; float:left; }
.gy-dialog  .share2 .weibo2{ width:35px; height:35px; display:block; float:left;}
.popup_share{ top:0px;}