@charset "utf-8";
/* CSS Document */
.clearme:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

* html .clearme {height: 1%;}
ins{ display:none;}
.m-right0{margin-right:0px !important;}
.m-top20{ margin-top:20px;}
.m-right36{margin-right:36px;}
.m-top37{margin-top:37px;}

/* 任务公用按钮*/

.mession-bt a{ height:22px; display:block; visibility:hidden; margin-top:10px;}
.mession-bt a span{ float:left;}
.mession-bt a .sp1{ width:11px; height:22px; background:url(../images_2.5/bt_bl.fw.png); display:block;}
.mession-bt a .sp2{ height:22px; background:url(../images_2.5/bt_bm.fw.png); display:block; padding-left:5px; padding-right:5px;font-size:12px;color:rgb(255,255,255);line-height:22px;}
.mession-bt a .sp2:hover{ cursor:pointer;}
.mession-bt a .sp3{ width:11px; height:22px; background:url(../images_2.5/bt_br.fw.png); display:block;margin-top:0px;}
.mession-list1 ul:hover .p4 a{ visibility:visible;}
/* 任务公用按钮*/
.wp1 .mession-wrap{ margin-top:20px;}
.mession-wrap{ background:#fefefe;}
.mession-wrap .ul-wrap{ border:3px solid #F6F6F6; width:366px; float:left;margin-right:14px; margin-left:14px; margin-top:11px;}
.mession-wrap .ul-wrap:hover{border:3px solid  #E9E8E9;}

/*任务推荐*/
.mession-list1{}
.mession-list1 h3{font-size:16px;font-weight:bold;color:rgb(101,101,101); height:21px; text-indent:16px;}
.mession-list1 ul{ width:364px;  border:1px solid #E9E8E9; background:#FFF; }
.mession-list1 ul li{}
.mession-list1 ul .li1{ width:110px;}
.mession-list1 ul .li2{ width:244px; padding-right:10px;}
.mession-list1 ul .li1 img{ margin-top:18px; margin-left:18px; margin-bottom:20px;}
.mession-list1 ul .li2 p{ line-height:22px; float:left; width:244px; display:block; height:22px; overflow:hidden;}
.mession-list1 ul .li2 .p1{font-size:14px;color:rgb(101,101,101); margin-top:33px;}
.mession-list1 ul .li2 .p2{font-size:12px;color:rgb(163,161,163);}
.mession-list1 ul .li2 .p3{font-size:12px;color:rgb(163,161,163); width:92px;}
.mession-list1 ul .li2 .p3 b{color:#E65157; font-weight:normal;}
.mession-list1 ul .li2 .p4{  height:22px;width:92px;}
.mession-list1 ul .p4 a{ height:22px; display:block; float:right; visibility:hidden; margin-right:10px;}
.mession-list1 ul .p4 a span{ float:left;}
.mession-list1 ul .p4 a .sp1{ width:11px; height:22px; background:url(../images_2.5/bt_bl.fw.png); display:block;}
.mession-list1 ul .p4 a .sp2{ height:22px; background:url(../images_2.5/bt_bm.fw.png); display:block; padding-left:5px; padding-right:5px;font-size:12px;color:rgb(255,255,255);}
.mession-list1 ul .p4 a .sp2:hover{ cursor:pointer;}
.mession-list1 ul .p4 a .sp3{ width:11px; height:22px; background:url(../images_2.5/bt_br.fw.png); display:block;margin-top:0px;}
.mession-list1 ul:hover .p4 a{ visibility:visible;}
/*任务推荐*/


/*每日任务 新手任务*/
.mession-list2{ /*margin-top:52px;*/}
.mession-list2 .tag{ height:25px; border-bottom:1px solid #E9E8E9; margin-left:18px; margin-right:18px;}
.mession-list2 .tag a{font-size:12px;color:rgb(101,101,101); background:#E9E8E9; width:72px; height:25px; display:block; float:left; margin-right:10px; line-height:25px; text-align:center; }
.mession-list2 .tag a:hover,.mession-list2 .tag a.hover{ color:#FFF; background:#D8230E}
.mession-tg1:hover,.mession-tg2:hover{ cursor:pointer;}
.mession-list2 .mession-wrap{ float:left;}
.mession-list2 .wp2{ display:none;}
.mession-list2 .mession-body{width:573px; border:1px solid #E9E8E9; height:120px;  margin-left:17px; margin-bottom:18px;} 
.mession-list2 .mession-body:hover .mession-bt a{ visibility:visible;}
.mession-list2 .mession-body ul{ position:relative;}
.mession-list2 .mession-body ul li{ float:left;}
.mession-list2 .mession-body ul .li1{ width:110px;}
.mession-list2 .mession-body ul .li2{ width:350px;}
.mession-list2 .mession-body ul .li3{ width:113px;}
.mession-list2 .mession-body ul .li4{ position:absolute; float:none; width:68px; height:65px; top:1px; left:1px;}
.mession-list2 .mession-body ul .noable{ background:url(../images_2.5/disable.fw.png);}
.mession-list2 .mession-body ul .enable{ background:url(../images_2.5/able.fw.png);}
.mession-list2 .mession-body ul .li1 img{ margin-top:23px; margin-left:39px; margin-bottom:23px;}
.mession-list2 .mession-body ul .li2 dl{margin-top:36px; margin-left:10px; padding-right:10px;}
.mession-list2 .mession-body ul .li2 dl dt{font-size:14px;color:rgb(101,101,101); line-height:20px; }
.mession-list2 .mession-body ul .li2 dl dd{font-size:12px;color:rgb(163,161,163); height: 22px;line-height: 22px;overflow:hidden; padding-right:10px;}
.mession-list2 .mession-body ul .li2 dl dd.mession-bt{ height:33px;}
.mession-list2 .mession-body ul .li2 dl dd.mession-bt a{ margin-top:0px; }
.mession-list2 .mession-body ul .li3 p{font-size:12px;color:rgb(163,162,163); margin-top:50px;}
.mession-list2 .mession-body ul .li3 p b{font-size:20px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;
color:rgb(230,81,87);}
/*每日任务 新手任务*/