@charset "utf-8";
/* CSS Document  转盘游戏css*/
/**  娱乐中心css**/
.entertainment { width:100%; height:818px; margin:0 auto; background:url(../images/zhuanpan.png) center bottom no-repeat; margin-bottom:10px;}
.entertainment .wrap{ width:1008px; height:590px; margin:0 auto;}
.entertainment .wrap .l{ width:188px; float:left; }
.entertainment .wrap .l .box{ width:186px; height:162px; border:1px solid #eee; margin-left:0px; margin-top:24px;}
.entertainment .wrap .l .box .name{ width:186px; height:40px; border-bottom:1px solid #eee; line-height:40px;font-family:MicrosoftYaHei;
font-size:22px;color:rgb(99,163,233); text-align:center;}
.entertainment .wrap .l .box .body{width:186px; height:120px; border-bottom:1px solid #eee; line-height:40px;font-family:MicrosoftYaHei;
font-size:12px;}
.entertainment .wrap .l .box .body p{ padding-left:20px;}
.entertainment .wrap .l .box .body p b{ color:#F00;}
.entertainment .wrap .l .box2{width:186px; height:162px; position:relative; top:-15px; }
.entertainment .wrap .l .box2 a{ background:url(../images/duihuanbg.png); display:block; margin-bottom:10px;}
.entertainment .wrap .l .box2 .a1{ background-position:-119px -1px; width:180px; height:60px;}
.entertainment .wrap .l .box2 .a2{ background:url(../images/duihuanbg.png) -119px -74px; width:180px; height:40px;}
.entertainment .wrap .l .box2 .a3{ background:url(../images/duihuanbg.png) -119px -123px; width:180px; height:40px;}
.entertainment .wrap .l .box2 .a1:hover,.entertainment .l .box2 .a1.hover{ background-position:-316px -1px; width:180px; height:60px;}
.entertainment .wrap .l .box2 .a2:hover,.entertainment .l .box2 .a2.hover{ background:url(../images/duihuanbg.png) -316px -74px; width:180px; height:40px;}
.entertainment .wrap .l .box2 .a3:hover,.entertainment .l .box2 .a3.hover{ background:url(../images/duihuanbg.png) -316px -123px; width:180px; height:40px;}
.entertainment .wrap .m{ width:454px; height:454px; float:left; margin-left:50px; /*margin-top:30px;*/}

.demo{width:417px; height:417px; position:relative; margin:50px auto}
#disk{width:417px; height:417px; background:url(../images/disk.png) no-repeat}
#start{width:163px; height:320px; position:absolute; top:46px; left:130px;}
#start #zz{width: 163px;height: 320px;position: absolute;z-index:999;left:0px; top:0px;}
#start img{cursor:pointer; transform:rotate(1deg);}
#startbtn{ cursor:pointer;}
.entertainment .wrap .r{ width:245px; height:400px; float:left; margin-left:70px;}
.entertainment .wrap .r .title{ width:245px; height:30px; line-height:30px;  border-bottom:#CCC 1px solid;font-size:22px;color:rgb(99,163,233);}
.entertainment .wrap .r .wrap{ margin-top:20px; width:245px;}
.entertainment .wrap .r .wrap ul{ width:245px;}
.entertainment .wrap .r .wrap ul li{ float:left; height:30px; width:227px; line-height:30px;}
.entertainment .wrap .r .wrap ul li i{ float:left; width:180px; height:30px; display:block;}
.entertainment .wrap .r .wrap ul li b{ float:left; width:50px; height:30px; display:block;}
.entertainment .guize{ width:1008px; height:204px; margin:0 auto;}
.entertainment .guize ul{ margin-top:150px;margin-left:0px;}
.entertainment .guize ul li{ float:left; height:60px;  line-height:35px; color:#FFF; }
.entertainment .guize ul li b{font-size:48px; width:48px; height:60px; float:left; font-weight:normal; font-style:italic; line-height:60px;}
.entertainment .guize ul li i{font-size:12px; line-height:22px;height:60px; float:left; width:200px;}
.entertainment .guize ul li.a1{ padding-left:0px; width:278x;font-size:12px; line-height:22px;}
.entertainment .guize ul li.a2{padding-left:0px; width:202x;font-size:12px; line-height:22px;}
.entertainment .guize ul li.a3{padding-left:10px;width:250x;font-size:12px; line-height:22px;}
.entertainment .guize ul li.a4{padding-left:5px;width:248px;font-size:12px; line-height:22px;}
.entertainment .guize ul li a{ color:#000; text-decoration:underline; padding-left:5px;}
.entertainment2 { width:100%; height:818px; margin:0 auto; background:none;}
.entertainment .wrap .l2{ width:190px; float:left; }
.entertainment .wrap .l2 .box{ width:186px; height:132px; border:1px solid #eee;  }
.entertainment .wrap .l2 .box .name{ width:186px; height:40px; border-bottom:1px solid #eee; line-height:40px;font-family:arial;
font-size:18px;color:rgb(99,163,233); text-align:center;}
.entertainment .wrap .l2 .box .body{width:186px; height:120px; border-bottom:1px solid #eee; line-height:40px;font-family:MicrosoftYaHei;
font-size:12px;}
.entertainment .wrap .l2 .box .body p{ padding-left:20px; line-height: 24px;}
.entertainment .wrap .l2 .box .body p b{ color:#F00;}
.entertainment .wrap .l2 .box2{width:186px; height:162px; position:relative; top:-15px; }
.entertainment .wrap .l2 .box2 a{ background:url(../images/duihuanbg.png); display:block; margin-bottom:10px;}
.entertainment .wrap .l2 .box2 .a1{ background-position:-119px -1px; width:180px; height:60px;}
.entertainment .wrap .l2 .box2 .a2{ background:url(../images/duihuanbg.png) -119px -74px; width:180px; height:40px;}
.entertainment .wrap .l2 .box2 .a3{ background:url(../images/duihuanbg.png) -119px -123px; width:180px; height:40px;}
.entertainment .wrap .l2 .box2 .a1:hover,.entertainment .l2 .box2 .a1.hover{ background-position:-316px -1px; width:180px; height:60px;}
.entertainment .wrap .l2 .box2 .a2:hover,.entertainment .l2 .box2 .a2.hover{ background:url(../images/duihuanbg.png) -316px -74px; width:180px; height:40px;}
.entertainment .wrap .l2 .box2 .a3:hover,.entertainment .l2 .box2 .a3.hover{ background:url(../images/duihuanbg.png) -316px -123px; width:180px; height:40px;}
.entertainment .wrap .r2{ width:993px; height:885px; float:right;}
.entertainment .wrap .r2 .box2{ width:490px; height:206px; float:left; padding-left:3px; margin-bottom:10px;}
.entertainment .wrap .r2 .box2 .bl{ width:291px; height:206px; float:left;}
.entertainment .wrap .r2 .box2 .bl a img{  width:291px; height:206px;}
.entertainment .wrap .r2 .box2 .br{ width:194px; height:201px; float:left; border:3px solid #CCC; border-left:none;}
.entertainment .wrap .r2 .box2 .br .title{font-family:SimSun;font-size:14px;color:rgb(108,108,108); padding:5px; height:40px; line-height:40px; padding-left:16px; padding-right:16px;}
.entertainment .wrap .r2 .box2 .br p{ padding:5px;color:rgb(135,135,135); font-weight:normal; line-height:20px; padding-left:16px; padding-right:16px;}
.entertainment .wrap .r2 .box2 .br p a{ color:#F00;}
#confirm_order_address{ cursor:pointer;}


