@charset "utf-8";


html, body{width:100%;height:100%;padding:0;margin:0; }
body{font-family:"微软雅黑","华文细黑",Arial, Helvetica, sans-serif;font-size:14px;color:#fff;user-select:none;-webkit-user-select:none;-webkit-text-size-adjust: none;background-color:#ffffff;}

.game_circle1{width:100px;height:100px;position:absolute;top:50px;left:200px;text-align:center;}
.game_circle2{width:100px;height:100px;position:absolute;top:50px;left:450px;text-align:center;}

/* time scroll*/
.pie{width:200px;height:200px;background-color:#eaf6fa;border-radius:100px;position:absolute;}
.pie1{clip:rect(0px,200px,200px,100px);-o-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);}
.pie2{clip:rect(0px,100px,200px,0px);-o-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);}
.hold{width:200px;height:200px;position:absolute;z-index:1;}
.bg{width:200px;height:200px;border-radius:200px;position:absolute; background-image:/*linear-gradient(to top,#0CF,#0FF)*/;}
.num2{width:196px;height:196px;margin:2px 0 0 2px;background-color:#fff;border-radius:160px;position:absolute;z-index:1;text-align:center;line-height:196px;font-size:30px; color:#666;}
